# Sample input deck
# Copy this to input.deck (or any other name you choose)

snOrder         8
iterMax         100
errMax          1e-10
nGroups         2
sigmaT          10.0
sigmaS          5.0
OutputFile      false
OutputFilename  out.psi
useKokkos       false

