# Settings to change for local environment
# Copy this file to make.inc and fill in your local environment settings


# Assert level: 0 = no asserts, 1 = all asserts
ASSERT_ON = 0


# PETSC libraries

### Use petsc: 0 = no, 1 = yes
USE_PETSC = 1

### Cray machines need: "module load cray-petsc"
PETSC_INC = $(PETSC_DIR)/include
PETSC_LIB = $(PETSC_DIR)/lib/libcraypetsc_intel_real.a


# Compile command
# Needs (1) MPI C++ compiler wrapper
#       (2) openmp enabled
#       (3) c++11 standard enabled  (-std=c++11 for gcc)

### Cray with Intel compiler
MPICC = CC -Wall -Wextra -g -std=c++11 -O3
