# Settings to change for local environment
# Copy this file to make.inc and fill in your local environment settings


# Compile command
# Note: the c++11 standard is required so this must be in the compile
#       command for some compilers.

### Cray compiler
CPP = CC -Wall -std=c++11


# Library directories
MOAB_DIR   = 
CGNS_DIR   = 
HDF5_DIR   = 

### Trinitite
METIS_DIR  = /users/ckgarrett/tt-fey/lib/metis-5.1.0
